img{
    width: 100px;
    height: 100px;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.card{
    width: 300px;
    background-color: aqua;

}
.title{
    color: red;
}